<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <%if(newUser){%>
    <h2>New User</h2>
    <form action ="/users" method = "post">
      Username: <input type = "text" name = "username"><br>
      Password: <input type = "text" name = "password"><br>
      First Name: <input type = "text" name = "firstname"><br>
      Last Name: <input type = "text" name = "lastname"><br>
      <input type="submit" value="Create">
    </form>
    <%} else{%>
    <h2>User Details - <%user.name%></h2>
    <form action ="/users" method = "post">
      Username: <input type = "text" name = "username" value = "<%=user.name%>"><br>
      Password: <input type = "text" name = "password" value = "<%=user.password%>"><br>
      First Name: <input type = "text" name = "firstname"><br>
      Last Name: <input type = "text" name = "lastname"><br>
      <input type="submit" value="Create">
    </form>
    <%}%>
  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
