<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <%if(newUser){%>
    <h2>New User</h2>
    <form action ="/users" method = "post">
      Username: <input type = "text" name = "username"><br>
      Password: <input type = "text" name = "password"><br>
      First Name: <input type = "text" name = "firstname"><br>
      Last Name: <input type = "text" name = "lastname"><br>
      <button type="submit" id = "enter_name_button">Create account</button>
    </form>
    <%}%>
    <%if(!newUser){%>
    <h2><%=user.username%></h2>
    <form action ="/users" method = "post">
      Username: <input type = "text" name = "username"><br>
      Password: <input type = "text" name = "password"><br>
      First Name: <input type = "text" name = "firstname"><br>
      Last Name: <input type = "text" name = "lastname"><br>
      <button type="submit" id = "enter_name_button">Edit account</button>
    </form>
    <%}%>

  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
